html, body, #root { height: 100% }
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.filter-image {
  padding: 50px 0;
  margin-bottom: 20px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-image img {
  max-height: 450px;
}

.filter-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-option {
  height: 80px;
  margin: 3px 3px;
}

.filter-option img {
  height: 100%;
}
